@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';




/* - Importamos estilos: */
@import './styles/base.css';

@import './styles/components.css';
@import './styles/components/body.css';
@import './styles/components/top-bar.css';
@import './styles/components/header.css';
@import './styles/components/logo.css';
@import './styles/components/nav-bar.css';
@import './styles/components/main.css';
@import './styles/components/footer.css';
@import './styles/utilities.css';
@import './styles/others.css';
@import './styles/forms.css';







/* TEMA CALRO: */
@theme {
    /* ===== TIPOGRAFÍA ===== */
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* ===== COLORES PRINCIPALES ===== */
    --color-primario: #2f6f3e;   /* (verde) */
    --color-secundario: #8b5e3c;   /* (marrón) */
    --color-terciario: #e07a2d;   /* (amarillo) */
    
    /* ===== COLORES CALROS ===== */
    
    --color-primario-suave: #6BA368;   /* (verde suave) */
    --color-primario-claro: #EAF4EA;   /* (verde claro) */
    --color-secundario-claro: #F5F1E8;   /* (beige) */


    /* ===== OTROS ===== */
    --color-success: #22c55e;   /* (verde) */
    --color-danger: #ef4444;    /* (rojo) */
    --color-warning: #f59e0b;   /* (amarillo) */

    /* ===== NEUTROS ===== */
    --color-bg: #f9fafb;        /* (fondo app) */
    --color-surface: #ffffff;   /* (cards) */
    --color-border: #e5e7eb;    /* (bordes suaves) */
    --color-text: #333333;      /* (texto principal) */
    --color-muted: #DADADA;     /* (texto secundario) */
    --color-blanco: #FAFAF7;    /* (balnco roto)*/
    --color-gris: #999999;      /* (gris claro) */



    /* ===== ESPACIADO BASE (opcional) ===== */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;

    /* ===== BORDER RADIUS ===== */
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
    --radius-xl: 1rem;
}



/* TEMA OSCURO: */
.dark {
    --color-bg: #0f172a;
    --color-text: #f8fafc;
}